@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
html,body{

    width: 100%;
    height: 100%;
    background-color: pink; 
    margin: 0;
}
#h1{
    font-size: 2.5rem;
    color:rgb(226, 4, 133);
    position: absolute;
    top: 100px;
    font-family: "Mynerve";
    left: 250px;
}
#letsgo{
    height: 100px;
    width: 100px;
    background-color:rgb(226, 4, 133);
    border: 1px solid black;
    position: absolute;
    left: 500px;
    top: 200px;
    font-family: "My nerve";
}
#letsgo:active{
    transform: scale(0.67);
}
#main{
    width: 100%;
    height: 100%;
    background-color:pink;
    opacity: 0;
    display: flex;
    position: relative;
}
#head{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid black;
    background-color:#E0AC69;
    left: 420px;
    top: 200px;
    position: absolute;
    z-index: 4;
}
#body{
    height: 200px;
    width: 100px;
    border-radius: 20px;
    background-color: #E0AC69;
    border: 2px solid black;
    left: 300px;
    position: absolute;
    top: 250px;
    left: 400px;
}
#buttons{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#skin, #hair, #clothes, #accessories, #color{
    width: 100px;
    height: 100px;
}
#color{
    position: absolute;
    left: 900px;
    border: 2px solid black;
    top: 10px;
}
#arrow{
    position: absolute;
    top: 200px;
    left: 550px;
    border: none;
    width: 200px;
    height: 200px;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    z-index: 3;
}
#arrow img{
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}
#dress1{
    width: 100px;
    height: 250px;
    position: absolute;
    left: 300px;
    top: 200px;
    z-index: 1;
}
